<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Action Sheet</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="padding">
	<h1>Basic</h1>
	<ion-button (click)="presentBasicBasic()">Basic</ion-button>
	<ion-button (click)="presentBasicAlert()">Alert</ion-button>
	<ion-button (click)="presentBasicCancelOnly()">Cancel Only</ion-button>

	<p class="my-custom-class my-color-class">
		Action Sheet with Custom CSS Classes
		<ion-button (click)="presentBasicWithCSS()">Custom CSS</ion-button>
	</p>

	<ion-button (click)="presentBasicIcons()">Icons</ion-button>
	<ion-button (click)="presentBasicBackdropDismiss()">No Backdrop Dismiss
	</ion-button>
	<ion-button (click)="presentBasicScroll()">Scroll</ion-button>
	<ion-button (click)="presentBasicScrollNoCancel()">Scroll No Cancel
	</ion-button>

	<h1>Action Sheet</h1>
	<ion-button (click)="presentActionSheet()">Show Action Sheet</ion-button>
	<ion-button (click)="presentActionSheetBasic()">Basic</ion-button>

	<h1>Spec</h1>
	<ion-button (click)="presentActionSheetSpec()">Spec</ion-button>

	<h1>Standalone</h1>
	<ion-button (click)="presentActionSheetStandalone()">Standalone</ion-button>
	<ion-button (click)="presentActionSheetTranslucent()">Translucent</ion-button>

	<h1>Translucent</h1>
	<ion-button (click)="presentTranslucentBasic()">Basic</ion-button>
	<ion-button (click)="presentTranslucentNoBackdropDismiss()">No Backdrop Dismiss</ion-button>
	<ion-button (click)="presentTranslucentAlert()">Alert</ion-button>
	<ion-button (click)="presentTranslucentScroll()">Scroll</ion-button>
	<ion-button (click)="presentTranslucentScrollNoCancel()">Scroll No Cancel</ion-button>
	<ion-button (click)="presentTranslucentCancelOnly()">Cancel Only</ion-button>

</ion-content>