<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Buttons</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content padding>
	<h2>Basic</h2>
	<div>
		<p><button ion-button color="light">Light</button></p>
		<p><button ion-button>Default</button></p>
		<p><button ion-button color="secondary">Secondary</button></p>
		<p><button ion-button color="danger">Danger</button></p>
		<p><button ion-button color="dark">Dark</button></p>
	</div>

	<h2>Block</h2>
	<div>
		<p><button ion-button color="light" block>Light</button></p>
		<p><button ion-button block>Default</button></p>
		<p><button ion-button color="secondary" block>Secondary</button></p>
		<p><button ion-button color="danger" block>Danger</button></p>
		<p><button ion-button color="dark" block>Dark</button></p>
	</div>

	<h2>Clear</h2>
	<div>
		<p><button ion-button color="light" clear>Light</button></p>
		<p><button ion-button clear>Default</button></p>
		<p><button ion-button color="secondary" clear>Secondary</button></p>
		<p><button ion-button color="danger" clear>Danger</button></p>
		<p><button ion-button color="dark" clear>Dark</button></p>
	</div>

	<h2>Components</h2>
	<div class="buttons-components-page">
		<ion-card>
			<ion-card-content>
				<img src="assets/img/img-icon.png" />
			</ion-card-content>

			<ion-item>
				<button ion-button clear item-start>Like</button>
				<button ion-button clear item-end>Comment</button>
			</ion-item>
		</ion-card>

		<ion-list>
			<ion-item>
				Inner Button
				<button ion-button item-end outline>Outline</button>
			</ion-item>

			<ion-item>
				Left Icon Button
				<button ion-button item-end outline icon-start>
					<ion-icon name='star'></ion-icon>
					Left Icon
				</button>
			</ion-item>

			<ion-item>
				Right Icon Button
				<button ion-button item-end outline icon-end>
					Right Icon
					<ion-icon name='star'></ion-icon>
				</button>
			</ion-item>
		</ion-list>
	</div>

	<h2>Full</h2>
	<div>
		<p><button ion-button color="light" full>Light</button></p>
		<p><button ion-button full>Default</button></p>
		<p><button ion-button color="secondary" full>Secondary</button></p>
		<p><button ion-button color="danger" full>Danger</button></p>
		<p><button ion-button color="dark" full>Dark</button></p>
	</div>

	<h2>Icons</h2>
	<div>
		<p><button ion-button color="light" icon-start>
				<ion-icon name='arrow-back'></ion-icon>
				Back
			</button>

			<button ion-button color="light" icon-only>
				<ion-icon name='arrow-down'></ion-icon>
			</button>

			<button ion-button color="light" icon-only>
				<ion-icon name='arrow-up'></ion-icon>
			</button>

			<button ion-button color="light" icon-end>
				Next
				<ion-icon name='arrow-forward'></ion-icon>
			</button></p>
		<p><button ion-button icon-start>
				<ion-icon name='home'></ion-icon>
				Home
			</button>
			<button ion-button outline icon-start>
				<ion-icon name='briefcase' is-active="false"></ion-icon>
				Work
			</button>
			<button ion-button clear icon-start>
				<ion-icon name='beer' is-active="false"></ion-icon>
				Pub
			</button></p>
		<p><button ion-button color="secondary" icon-start>
				<ion-icon name='people'></ion-icon>
				Friends
			</button>
			<button ion-button color="secondary" outline icon-start>
				<ion-icon name='paw' is-active="false"></ion-icon>
				Best Friend
			</button></p>
		<p><button ion-button color="danger" icon-start>
				<ion-icon name='close'></ion-icon>
				Remove
			</button>
			<button ion-button color="danger" outline icon-only>
				<ion-icon name='remove-circle' is-active="false"></ion-icon>
			</button>
			<button ion-button color="danger" clear icon-only>
				<ion-icon name='trash' is-active="false"></ion-icon>
			</button></p>
		<p><button ion-button color="dark" round icon-start>
				<ion-icon name='construct' is-active="false"></ion-icon>
				Tools
			</button>
			<button ion-button color="dark" clear icon-only>
				<ion-icon name='hammer' is-active="false"></ion-icon>
			</button></p>
	</div>

	<h2>Outline
	</h2>
	<div>
		<p><button ion-button color="light" outline>Light</button></p>
		<p><button ion-button outline>Default</button></p>
		<p><button ion-button color="secondary" outline>Secondary</button></p>
		<p><button ion-button color="danger" outline>Danger</button></p>
		<p><button ion-button color="dark" outline>Dark</button></p>
	</div>


	<h2>
		Round Buttons
	</h2>
	<div>
		<p><button ion-button color="light" round>Light</button></p>
		<p><button ion-button round>Default</button></p>
		<p><button ion-button color="secondary" round>Secondary</button></p>
		<p><button ion-button color="danger" round>Danger</button></p>
		<p><button ion-button color="dark" round>Dark</button></p>
	</div>

	<h2>Button Sizes</h2>
	<div>
		<p><button ion-button color="light" small>Light Small</button></p>
		<p><button ion-button small>Default Small</button></p>
		<p><button ion-button color="secondary">Secondary Medium</button></p>
		<p><button ion-button color="danger" medium>Danger Medium</button></p>
		<p><button ion-button color="dark" large>Dark Large</button></p>
	</div>
</ion-content>